<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>AI Assistant</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <meta th:name="_csrf" th:content="${_csrf.token}"/>
  <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
  <style>
    body {
      font-family: 'Space Mono', monospace;
    }
  </style>
</head>
<body class="bg-gray-100">
        <h1>WELCOME</h1>
</body>
</html>