<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" >
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar(isAuthenticated=${#authentication.principal != 'anonymousUser'})"></nav>
<h1>Profile</h1>
<div sec:authorize="isAuthenticated()">
    UserId: <span th:text="${user.id}"/>
    User username: <span th:text="${user.username}"/>
    User Email: <span th:text="${user.email}"/>
</div>
<section class="playlist-wrapper">
   <div  class="playlist-container">
        <div class="playlist-header">
            <h1>Create a playlist</h1>
        </div>
       <div class="playlist-form-container">
           <form th:method="post" th:action="@{/playlist/create}">
               <label for="playlistname">Playlist name</label>
               <input id="playlistname" type="text" name="playlistname" required/>
               <input type="submit" value="Create New Playlist!">
           </form>
       </div>
   </div>
</section>

<section class="user-playlist-wrapper">
    <div class="user-playlist-container">
        <div class="user-playlist-container-header">
            <!--               Add a number next to this to show how many playlist the user has-->
            <h1>All playlist</h1>
        </div>
    </div>
</section>
</body>
</html>