<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" >
    <title>Profile Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link href="/css/layout.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
<nav th:replace="partials/navbar :: navbar(isAuthenticated=${#authentication.principal != 'anonymousUser'})"></nav>
<!--Main container-->
<div class="container mx-auto px-4 py-6 flex flex-wrap">
    <!--Left -->
    <div class="w-full md:w-1/2 lg:w-1/4 mb-6 md:mb-0">
        <div class="bg-white p-4 rounded shadow-md mb-6">
            <h1 class="text-xl font-bold mb-4">Profile</h1>
            <div class="w-full flex justify-center mb-4">
                <!-- Show the profile picture if it exists -->
                <div th:if="${user.getProfilePic_url() != null}" class="cursor-pointer w-24 h-24 rounded-full overflow-hidden">
                    <img th:src="${user.getProfilePic_url()}" alt="Profile Picture" class="w-24 h-24 object-cover rounded-full"/>
                </div>

                <!-- Show the SVG to add a profile picture if it doesn't exist -->
                <div th:unless="${user.getProfilePic_url() != null}" id="profile-pic" class="cursor-pointer w-24 h-24 rounded-full overflow-hidden bg-gray-100 flex items-center justify-center text-blue-500">
                    <svg class="w-12 h-12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd" />
                    </svg>
                </div>
            </div>
            <div sec:authorize="isAuthenticated()">
                <span type="hidden" id="usersId" th:attr="data-user-id=${user.id}"></span>
                <span th:text="${user.username}"/>
                <br>
                <span th:text="${user.email}"/>
            </div>
        </div>
        <section class="user-playlist-wrapper mt-5">
            <div class="bg-white p-4 rounded shadow-md">
                <div class="user-playlist-container-header mb-4">
                    <h1 class="text-xl font-bold">All playlist's <span th:text="${plalistcount}" class="bg-blue-500 text-white px-2 py-1 rounded-full text-sm">0</span></h1>
                </div>
                <div th:if="${!playlists.isEmpty()}" th:each="playlist : ${playlists}" class="mb-4">
                    <div class="flex items-center">
                        <h1 th:text="${playlist.playListName}" class="font-semibold mr-2"></h1>
                        <span class="bg-blue-500 text-white px-2 py-1 rounded-full text-sm" th:text="${playlist.countVideosInPlaylist()}"></span>
                    </div>
                    <form th:action="@{/playlistview/} + ${playlist.playlist_id}" th:method="GET">
                        <button type="submit" class="bg-yellow-500 text-white px-4 py-2 rounded mt-2">View Videos</button>
                    </form>
                </div>
                <div th:if="${playlists.isEmpty()}">
                    <p>No playlist yet! 😳</p>
                </div>
            </div>
        </section>
    </div>

    <!--Playlist Count Section -->
    <div class="w-full md:w-1/2 lg:w-1/4 px-4 mb-6 md:mb-0">
        <section class="playlist-wrapper">
            <div class="bg-white p-4 rounded shadow-md">
                <div class="playlist-header mb-4">
                    <h1 class="text-xl font-bold">Create a playlist</h1>
                </div>
                <div class="playlist-form-container">
                    <form th:method="post" th:action="@{/playlist/create}">
                        <label for="playlistname" class="block mb-2">Playlist name</label>
                        <input id="playlistname" type="text" name="playlistname" required class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:border-blue-300"/>
                        <input type="submit" value="Create New Playlist!" class="transition-all duration-200 hover:bg-green-700 bg-green-500 text-white px-4 py-2 rounded mt-4 cursor-pointer">
                    </form>
                </div>
            </div>
        </section>
    </div>

<!--    End of left -->



    <!--Right container-->
    <div class="w-full md:w-1/2 lg:w-1/2 vide">
        <section class="videos-wrapper">
            <div class="bg-white p-4 rounded shadow-md">
                <form th:action="@{/profile}" th:method="POST">
                    <div class="flex justify-center">
                        <button type="submit" id="search-api">View Videos</button>
                    </div>
                </form>
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-4">
                    <div th:each="video : ${videos}" class="flex">
                        <div class="bg-white p-4 rounded-lg shadow-md flex flex-col h-full">
                            <img th:src="${video.thumbnail_url}" class="rounded-t-lg mb-4 w-full h-48 object-cover" />
                            <h3 class="text-lg font-bold mb-2 flex-grow" th:text="${video.video_title}"></h3>
                            <div class="mt-auto">
                                <a th:href="${video.video_url}" th:target="_blank" class="text-gray-700 mb-4">View Video</a>
                                <br>
                                <button type="submit" class="add-to-playlist-btn bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-2 px-4 rounded" th:attr="data-video-id=${video.video_id}, data-video-title=${video.video_title}, data-video-url=${video.video_url}, data-video-thumbNail=${video.thumbnail_url}">
                                    Add to playlist
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>


    <!--End of right container-->

    <!-- Hidden Modal -->
    <div id="modal-backdrop" class="fixed inset-0 bg-black opacity-50 hidden"></div>
    <div id="playlist-modal" class="fixed inset-0 flex items-center justify-center hidden">
        <div class="modal-content bg-white p-6 rounded-lg shadow-md w-full max-w-md">
            <h2 class="text-2xl font-bold mb-6 text-center">Select Playlist</h2>
            <form id="playlist-form" th:action="@{/add-video-to-playlist}" th:method="post">
                <div th:each="playlist : ${playlists}" class="mb-4 flex items-center justify-between">
                    <button type="button" th:text="${playlist.playListName}" class="playlist-buttons bg-blue-500 text-white px-4 py-2 rounded" th:attr="data-playlist-id=${playlist.playlist_id}"></button>
                    <span class="ml-4 text-lg font-medium" th:text="${playlist.countVideosInPlaylist()}"></span>
                </div>
                <input type="hidden" id="videoId" name="videoId">
                <input type="hidden" id="playlistId" name="playlistId">
            </form>
            <button id="close-modal" class="bg-red-500 text-white px-4 py-2 rounded mt-4 block w-full">Close</button>
        </div>
    </div>
</div>

<script src="https://static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script src="/js/profile.js"></script>
<script src="/js/navbar.js"></script>
</body>
</html>
