<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<nav th:fragment="navbar">
  <div class="container mx-auto px-4 py-3 sm:py-6 flex flex-wrap justify-between items-center">
    <div class="flex items-center justify-between w-full sm:w-auto">
      <a th:href="@{/}" class="font-bold text-lg sm:text-xl text-green-500">Developer LMS</a>
      <button id="menu-toggle" class="sm:hidden block text-gray-700 hover:text-green-500 focus:outline-none focus:text-green-500 transition-all duration-200">
        <svg class="h-6 w-6 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M4 6h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 5h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 5h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"/>
        </svg>
      </button>
    </div>
    <div id="menu" class="sm:flex sm:w-auto ml-auto hidden">
      <ul class="flex flex-wrap space-x-2 sm:space-x-4">
        <li th:if="${isAuthenticated}">
          <form th:action="@{/profile}" th:method="get">
            <button class="btn-link btn text-sm sm:text-base text-gray-700 hover:text-green-500 transition-all duration-200">Profile</button>
            <span>|</span>
          </form>
        </li>

        <li th:if="${isAuthenticated}">
          <form th:action="@{/settings}" th:method="get">
            <button class="btn-link btn text-sm sm:text-base text-gray-700 hover:text-green-500 transition-all duration-200">Settings</button>
            <span>|</span>
          </form>

        </li>

        <li th:if="${isAuthenticated}">
          <button class="btn-link btn text-sm sm:text-base text-gray-700 hover:text-green-500 transition-all duration-200"><a th:href="@{/ai-assistant}">AI Assistant</a> </button>
          <span>|</span>
        </li>

        <li th:if="${isAuthenticated}">
          <form th:action="@{/logout}" th:method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <button class="btn-link btn text-sm sm:text-base text-gray-700 hover:text-green-500 transition-all duration-200">Logout</button>
            <span>|</span>
          </form>
        </li>
        <li th:unless="${isAuthenticated}">
          <button class="btn-link btn text-sm sm:text-base text-gray-700 hover:text-green-500 transition-all duration-200"> <a th:href="@{/login}">Login</a></button>
          <span>|</span>
        </li>

        <li th:unless="${isAuthenticated}">
          <form th:action="@{/register}" th:method="get">
            <button class="btn-link btn text-sm sm:text-base text-gray-700 hover:text-green-500 transition-all duration-200">Register</button>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>
</body>
</html>