body {
    font-family: 'Space Mono', monospace;
}


#menu {
    transition: transform 0.3s ease;
    transform: translateX(0);
}

#menu.hidden {
    transform: translateX(-100%);
}

@media (min-width: 640px) {
    #menu {
        opacity: 1;
        pointer-events: auto;
        transform: translate(0%);
    }
}