<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Profile Settings</title>
</head>
<body>
    <form th:action="@{/settings}" th:method="post" th:object="${user}">
        <label for="email">Email</label>
        <input id="email" name="email" th:field="*{email}">
        <label for="password">New Password</label>
        <input id="password" name="password">
        <input type="submit" value="update">
    </form>

    <form th:action="@{/settings/languages}" th:method="post">
        <div th:each="language : ${allProgrammingLanguages}">
            <input type="checkbox" th:id="${'language-' + language.language_id}" th:name="selectedLanguageIds" th:value="${language.language_id}" />
            <label th:for="${'language-' + language.language_id}" th:text="${language.language_name}"></label>
        </div>
        <input type="submit" value="Save Languages">
    </form>
</body>
</html>